body.customer-layout-body {
  overflow: hidden;
}

.customer-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .customer-main-content {
    flex-grow: 1;
    padding: 50px 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .fav-page-title {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
}

  /* Sidebar Container */
.sidebar-container {
    width: 210px;
    height: 100vh;
    text-align: center;
    padding-left: 40px;
    background-color: #ffffff;
  }
  
  .sidebar-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .sidebar-container ul li {
    padding: 20px;
    text-align: left;
  }
  
  .sub-item {
    font-family: "Poppins", serif;
    font-size: 18px;
    line-height: 1.7em;
    color: #000;
    display: flex;
    align-items: center;
    column-gap: 8px;
    text-decoration: none;
  }

  .sub-item.sub-sub-item {
    font-size: 16px;
    line-height: 1.2em;
  }

  .sub-item.sub-sub-item:last-child {
    margin-bottom: 30px;
  }


  .sub-item button {
    background-color: unset;
    font-family: "Poppins", serif;
    font-size: 18px;
    line-height: 1.7em;
    color: #000;
    display: flex;
    align-items: center;
    column-gap: 8px;
    text-decoration: none;
    border: none;
    padding: 0;
  }

  .sub-item a {
    color: #000;
  }
  
  .sub-item:before {
    content: '';
    height: 2px;
    background-color: #000000;
    width: 0;
    transition: width 0.3s ease-in-out;
  }
  
  .sub-item.have-children.active::before {
    width: 0px;
  }

  .sub-item.have-children.active {
    background-color: #000;
    border-radius: 20px;
    padding: 10px 20px!important;
    margin-top: 30px;
  }

  .sub-item.have-children.active button {
    color: #ffffff!important;
  }

  .sub-item:hover::before {
    width: 20px;
  }
  
  .sub-item.active::before {
    width: 20px;
  }

  .sub-item.sub-sub-item:hover::before {
    width: 30px;
  }
  
  .sub-item.sub-sub-item.active::before {
    width: 30px;
  }
  
  /* Back Button */
  .back-button {
    display: block;
    background: none;
    border: 0;
    font-family: "Poppins", serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }

.customer-layout .infinite-scroll-end-msg {
  display: none;
}

.mobile-hamburger-btn.hide {
  transform: translateX(-100%);
}


.mobile-hamburger-btn {
  display: none; /* default hidden on large screens */
  position: fixed;
  top: 60px; 
  left: 0px;
  background: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  z-index: 2000; /* above content but below sidebar if 'open'? tweak as needed */
  font-size: 1.6em;
  padding: 8px;
  border-radius: 0 50% 50% 0;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0); /* default visible */
}

.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0; 
  right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2500; /* just below the sidebar (which might be 3000) */
}

.sidebar-close-button {
  display: none; /* hidden on desktop */
  background: none;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  color: #444;
  z-index: 10;
}


/* masonry grid */
.fav-photoSection-myMasonryGrid {
  display: flex;
  margin-left: -15px;
  width: auto;
  margin-top: 30px;
}

.fav-photoSection-myMasonryGridColumn {
  padding-left: 15px;
  background-clip: padding-box;
}

.no-album-msg {
  color: #8b8b8b;
  font-family: 'Poppins';
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 1100px) {

  .customer-layout {
    flex-direction: column; 
  }

  .customer-sidebar-container {
    position: fixed;
    top: 0;
    left: -100%; 
    width: 70%;
    max-width: 300px;
    height: 100%;
    z-index: 3000; 
    background-color: #fff;
    transition: left 0.3s ease; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    overflow-y: auto;
  }

  .customer-sidebar-container.open {
    left: 0; 
  }

  .customer-content-container {
    padding-left: 20px;
    padding-bottom: 150px;
    height: calc(100vh - 60px); 
    margin-top: 50px; 
  }

  .mobile-hamburger-btn {
    display: flex;
  }
  .sidebar-close-button {
    display: inline-block;
  }

  .sidebar-overlay {
    display: block;
    position: fixed;
    top: 0; left: 0; 
    right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2500; 
  }

  .sidebar-container {
    padding-left: 20px;
    padding-top: 30px;
  }

  .sidebar-container ul {
    justify-content: flex-start;
    margin-top: 40px;
  }

  .sidebar-container ul li {
    padding: 20px 20px 20px 0px;
    text-align: left;
  }

}

@media screen and (max-width: 768px) {
  .customer-main-content {
    padding: 50px 0px;
  }

  .fav-photoSection-myMasonryGrid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.fav-photoSection-myMasonryGridColumn {
  padding-left: 0;
}

  .fav-page-title {
    font-size: 36px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px!important;
}

}