@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital@0;1&display=swap');

/* global */
h1,h2,h3,h4,h5 {
    font-family: "Parkinsans", serif;
    margin: 0;
}

label {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}
