/* Login / sign up */
.signup-container,
.login {
  max-width: 700px;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  padding: 0 0 20px 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-page h1 {
  font-size: 36px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #000000;
  font-weight: 500;
  margin-top: 100px;
}

.login h1 {
    font-size: 48px;
    text-align: center;
    color: #000000;
    font-weight: 600;
}

.signup-form,
.login-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-input-container,
.login-input-container {
    margin-top: 10px;
    width: 80%;
}

.signup-input-container textarea,
.signup-input-container input,
.login-input-container input {
    font-family: "Parkinsans", serif;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #7777777d;
    padding: 10px 10px;
    width: 95%;
}

.signup-submit,
.login-submit {
    font-family: "Parkinsans", serif;
    font-size: 18px;
    margin-top: 50px;
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    border: 0px;
    background: rgb(0,0,0);
    cursor: pointer;
}

.roles-submit {
  font-family: "Parkinsans", serif;
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    border: 0px;
    background: rgb(0,0,0);
    cursor: pointer;
}

.login p {
    font-family: "Parkinsans", serif;
    text-align: center;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Parkinsans", serif;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 80%;
  padding: 15px;
  border-radius: 20px;
  color: #fff;
  border: 0px;
  background: rgb(0,0,0);
  cursor: pointer;
  column-gap: 15px;
}

.google-logo {
  max-width: 30px;
}

.role-selection {
  margin-top: 50px;
}

.role-selection h2 {
  text-align: center;
}

.roles-container {
  display: flex;
  column-gap: 50px;
  margin-top: 50px;
}

.roles-inner {
  max-width: 300px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.roles-inner p {
  font-family: "Parkinsans", serif;
  font-size: 16px;
  text-align: center;
}

.photographer-details-form {
  margin-top: 50px;
}

.photographer-details-form h2 {
  text-align: center;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.step-container {
  display: flex;
  align-items: center;
  position: relative;
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.step-circle.active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.step-circle.completed {
  background-color: rgb(123, 123, 123);
  color: rgb(255, 255, 255);
}

.step-label {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

.step-line {
  width: 50px;
  height: 2px;
  background-color: lightgray;
  margin: 0 10px;
  z-index: 0;
}

.error-message {
  color: rgb(237, 95, 95);
}

/* Signup */
/* Tabs Container */
.signup-tabs {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #dcdcdc;
    border-radius: 20px;
}
  
/* Tab Buttons */
.tab-button {
    flex: 1;
    padding: 12px 0;
    background-color: #ffffff00;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    color: #333;
    border-radius: 20px;
}

/* Active Tab */
.tab-button.active {
    background-color: #000;
    color: #fff;
}

/* Remove Default Button Styles */
.tab-button:focus {
    outline: none;
}

/* Home Page */

.home-hero-sec {
    padding-top: 150px;
    padding-bottom: 100px;
}

.home-hero-sec .home-hero-title {
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    max-width: 750px;
    margin: auto;
}

.home-hero-desc {
    font-family: "Parkinsans", serif;
    max-width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* photo section */
/* components/PhotoSection.module.css */

/* Photo Section Styles */
.photoSection {
    padding: 50px 20px 20px 20px;
    
  }
  
  .photoSection h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
  }
  
  /* Masonry Grid Styles */
  .photoSection-myMasonryGrid {
    display: flex;
    margin-left: -15px; /* gutter size offset */
    width: auto;
  }
  
  .photoSection-myMasonryGridColumn {
    padding-left: 15px; /* gutter size */
    background-clip: padding-box;
  }


  .photoSection-photoImage {
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
  }


  .photoSection .icon {
    color: #000;
  }

/* photo card */
/* styles/public/photoCard.css */

.photoCard-container {
  position: relative; /* Establishes a new positioning context */
  cursor: pointer;
  border-radius: 8px; /* Optional: Adds rounded corners */
  overflow: hidden; /* Ensures child elements don't overflow */
  margin-bottom: 20px;
}

.photoCard-imageWrapper {
  position: relative; /* Needed for absolute positioning of the overlay */
  width: 100%;
  height: 100%;
}

.photoCard-photoImage {
  display: block; /* Removes the gap below the image */
  border-radius: 8px; /* Matches the container's border-radius */
}

.photoCard-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 62%, rgba(0,0,0,1) 100%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.photoCard-container:hover .photoCard-overlay {
  opacity: 1;
  visibility: visible;
}

.photoCard-photographer {
  color: #fff;
  font-size: 20px;
  padding-left: 8px;
  padding-bottom: 8px;
}

.photoCard-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  padding-right: 10px;
}

.like-icon {
  color: #fff;
}


/* responsive */
@media screen and (max-width: 768px) {
  /* Login / sign up */
  .login {
    max-width: 700px;
    width: 95%;
  }

  .signup-container{
    max-width: 700px;
    width: 95%;
    margin-top: 20px;
  }

  .signup-page h1 {
    font-size: 24px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .roles-container {
    flex-direction: column;
    row-gap: 20px;
  }

  .roles-submit {
    margin-top: 30px;
  }

  /* home */
  .home-hero-sec .home-hero-title {
    font-size: 36px;
  }

  .home-hero-sec {
    padding-bottom: 50px;
  }

  /* photosection */
  .photoSection {
    padding: 1rem;
  }

  .photoSection h2 {
    font-size: 1.5rem;
  }

  .photoSection-photoCard {
    margin-bottom: 10px;
  }

  .photoSection-photoInfo h4 {
    font-size: 1rem;
  }

  .photoSection-photoInfo p {
    font-size: 0.8rem;
  }

  /* photocard */
  .photoCard-overlay {
    opacity: 1;
    visibility: visible;
  }

}