/* Login / sign up */
.signup-page,
.login {
    width: 25%;
    margin: auto;
    border-radius: 10px;
    padding: 0 0 20px 0;
    margin-top: 100px;
}

.signup-page h1 ,
.login h1 {
    font-size: 48px;
    text-align: center;
    color: #000000;
    font-weight: 600;
}

.signup-form,
.login-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-input-container,
.login-input-container {
    margin-top: 10px;
    width: 100%;
}

.signup-input-container textarea,
.signup-input-container input,
.login-input-container input {
    font-family: "Parkinsans", serif;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #7777777d;
    padding: 10px 10px;
    width: 100%;
}

.signup-submit,
.login-submit {
    font-family: "Parkinsans", serif;
    font-size: 18px;
    margin-top: 50px;
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    border: 0px;
    background: rgb(0,0,0);
    cursor: pointer;
}

.login p {
    font-family: "Parkinsans", serif;
    text-align: center;
}


/* Signup */
/* Tabs Container */
.signup-tabs {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #dcdcdc;
    border-radius: 20px;
}
  
/* Tab Buttons */
.tab-button {
    flex: 1;
    padding: 12px 0;
    background-color: #ffffff00;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    color: #333;
    border-radius: 20px;
}

/* Active Tab */
.tab-button.active {
    background-color: #000;
    color: #fff;
}

/* Remove Default Button Styles */
.tab-button:focus {
    outline: none;
}

/* Home Page */

.home-hero-sec {
    padding-top: 100px;
    padding-bottom: 100px;
}

.home-hero-sec .home-hero-title {
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    max-width: 750px;
    margin: auto;
}

.home-hero-desc {
    font-family: "Parkinsans", serif;
    max-width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* photo section */
/* components/PhotoSection.module.css */

/* Photo Section Styles */
.photoSection {
    padding: 50px 20px 20px 0;
  }
  
  .photoSection h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
  }
  
  /* Masonry Grid Styles */
  .photoSection-myMasonryGrid {
    display: flex;
    margin-left: -15px; /* gutter size offset */
    width: auto;
  }
  
  .photoSection-myMasonryGridColumn {
    padding-left: 15px; /* gutter size */
    background-clip: padding-box;
  }


  .photoSection-photoImage {
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 600px) {
    .photoSection {
      padding: 1rem;
    }
  
    .photoSection h2 {
      font-size: 1.5rem;
    }
  
    .photoSection-photoCard {
      margin-bottom: 10px;
    }
  
    .photoSection-photoInfo h4 {
      font-size: 1rem;
    }
  
    .photoSection-photoInfo p {
      font-size: 0.8rem;
    }
  }

  .photoSection .icon {
    color: #000;
  }

/* photo card */
/* styles/public/photoCard.css */

.photoCard-container {
  position: relative; /* Establishes a new positioning context */
  cursor: pointer;
  border-radius: 8px; /* Optional: Adds rounded corners */
  overflow: hidden; /* Ensures child elements don't overflow */
  margin-bottom: 20px;
}

.photoCard-imageWrapper {
  position: relative; /* Needed for absolute positioning of the overlay */
  width: 100%;
  height: 100%;
}

.photoCard-photoImage {
  display: block; /* Removes the gap below the image */
  border-radius: 8px; /* Matches the container's border-radius */
}

.photoCard-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 62%, rgba(0,0,0,1) 100%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.photoCard-container:hover .photoCard-overlay {
  opacity: 1;
  visibility: visible;
}

.photoCard-photographer {
  color: #fff;
  font-size: 20px;
  padding-left: 8px;
  padding-bottom: 8px;
}

.photoCard-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.like-icon {
  color: #fff;
}
