.photographers-page .photographers-page-title {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}