/* styles/Navbar.css */

.navbar {
  background-color: #fff;
  padding: 10px 20px;
  position: fixed; 
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1000; 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 98%;
  margin: auto;
  border-radius: 20px;
  box-shadow: none;
}

/* Visible state */
.navbar-visible {
  transform: translateY(0);
  opacity: 1;
  
}

/* Hidden state */
.navbar-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 90%;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 15px;
  color: #555;
  text-decoration: none;
  font-size: 16px;
  font-family: "Parkinsans", serif;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.navbar-item:hover {
  color: #000;
}

.navbar-auth {
  display: flex;
  align-items: center;
}

.navbar-signup {
  margin-left: 15px;
  padding: 5px 10px;
  background-color: #000000;
  color: #fff;
  border-radius: 4px;
}

.navbar-signup:hover {
  background-color: #000000;
  color: #fff;
}

.nav-bar-profile-picture {
  border-radius: 50%;
  object-fit: cover;
}

.nav-bar-mobile-items {
  display: none;
}

@media screen and (max-width: 768px) {

  .navbar {
    width:90%;
  }

  .navbar-shadow {
    width: 85%;
  }

  .nav-bar-mobile-items {
    display: block;
  }

  .navbar-menu-desktop-items {
    display: none;
  }

  .navbar-item-text {
    display: none;
  }

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
  }

  .navbar-profil-text {
    display: none;
  }

  .navbar-auth .navbar-item {
    margin: 0;
  }
}