/* styles/Navbar.css */

.navbar {
    background-color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 15px;
    color: #555;
    text-decoration: none;
    font-size: 16px;
    font-family: "Parkinsans", serif;
  }
  
  .navbar-item:hover {
    color: #000;
  }
  
  .navbar-auth {
    display: flex;
    align-items: center;
  }
  
  .navbar-signup {
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #000000;
    color: #fff;
    border-radius: 4px;
  }
  
  .navbar-signup:hover {
    background-color: #000000;
    color: #fff;
  }